body {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    font-family: 'Roboto',
    sans-serif;

}

.container{
    width: 1028px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo:hover .text-logo{
    color:#F26522;
}

.logo:hover .logo-img{
    content: url(../img/logo2.png);
}

.logo-img{
    width: 53px;
    height: 47px;
}

.main-info{
    display: flex;
    justify-content: space-between;
    height: 61px;
    margin-bottom: 17px;
    margin-top: 46px;
}

.text-logo{
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #FFFFFF;
    margin-left: 8px;
    margin-top: 8px;
    height: 51px;
}

.logo-text1{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.logo-text2{
    font-weight: 700;
    font-size: 18px;
    /* line-height: 18px; */
}

.mail{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.mail:hover{
    color: #F26522;
}

.number{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.number:hover{
    color: #F26522;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.content{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-between;
    text-align: center;
    row-gap: 37px;
}

.sector-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
}

.web-info{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 15px;
}

.sector{
    height: 220px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sector-text{
    transition: 0.6s;
}

.link{
    cursor: pointer;
}

.link:hover .sector-menu{
    top: 165px;
}

.link:hover .sector-text{
    color: #F26522;
}

.sector-menu{
    background-color: #F26522;
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 220px;
    left: 0;
    transition: 0.6s;
}

.sector-menu-from{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 16px;
}

.sector-menu-50{
font-family: 'Roboto';
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
margin-top: 8px;
margin-left: 16px;
}

.sector-menu-VD{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 29px;
    margin-right: 37px;
    position: relative;
}

.sector-menu-VD::after{
    content: "";
    height: 8px;
    width: 8px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    right: -20px;
    top: 1px;
    transform: rotate(-45deg);
}